/* For Mobile View */

@media screen and (max-width: 425px)
{
	.grid{
		column-count: 1;
		column-gap: 5px;
	}

	.nav {
    font-size: 7vw;
    text-align: center;
    margin: 3% auto;
    font-family: 'Indie Flower', cursive;
	}

	img{
		max-width: 100% !important;
		height: auto !important;
		margin: auto;
	}
}

/*  HTML 5 and browser default style reset */

@media screen and (min-width: 426px)
{
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*  HTML 5 and browser default style reset */

.nav {
    font-size: 7vw;
    text-align: center;
    margin: 3% auto;
    font-family: 'Indie Flower', cursive;
}

img{
    max-width: 100%;
    height: auto !important;
    margin: 01.0351966873706% /*10 /966 */;
    float: left;
}


.grid{
    width: 100%;
    margin: auto;
    margin-top: 4%;
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap:  10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

.grid img{
    max-width: none;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 01.14285714285714%;
    float: none;
}
}